<button type="button" onclick="@Calculate" class="calc-exe-button col-12" disabled="@Disabled">=</button>

@code {

    [Parameter]
    public EventCallback Calculate { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

}